<a href="https://colab.research.google.com/github/JeffersonBP/Mackenzie_aula1/blob/main/Aprendendo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
req = requests.get('https://www.basketball-reference.com/leagues/NBA_2018_totals.html')
if req.status_code == 200:
    print('Requisição bem sucedida!')
    content = req.content

Requisição bem sucedida!

In [8]:
soup = BeautifulSoup(content, 'html.parser')
table = soup.find(name='table')

In [7]:
table_str = str(table)
df = pd.read_html(table_str)[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,24,OKC,75,8,1134,115,291,...,.848,26,88,114,28,38,8,25,124,353
1,2,Quincy Acy,PF,27,BRK,70,8,1359,130,365,...,.817,40,217,257,57,33,29,60,149,411
2,3,Steven Adams,C,24,OKC,76,76,2487,448,712,...,.559,384,301,685,88,92,78,128,215,1056
3,4,Bam Adebayo,C,20,MIA,69,19,1368,174,340,...,.721,118,263,381,101,32,41,66,138,477
4,5,Arron Afflalo,SG,32,ORL,53,3,682,65,162,...,.846,4,62,66,30,4,9,21,56,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,537,Tyler Zeller,C,28,BRK,42,33,703,125,229,...,.667,63,131,194,28,8,21,35,78,300
686,537,Tyler Zeller,C,28,MIL,24,1,406,62,105,...,.895,47,64,111,19,7,14,12,48,141
687,538,Paul Zipser,SF,23,CHI,54,12,824,81,234,...,.760,13,118,131,46,20,15,43,86,218
688,539,Ante Žižić,C,21,CLE,32,2,214,49,67,...,.724,24,36,60,5,2,13,11,30,119
689,540,Ivica Zubac,C,20,LAL,43,0,410,61,122,...,.765,45,78,123,25,8,15,26,47,161

In [10]:
def scrape_stats(base_url, year_start, year_end):
    years = range(year_start,year_end+1,1)

    final_df = pd.DataFrame()

    for year in years:
        print('Extraindo ano {}'.format(year))
        req_url = base_url.format(year)
        req = requests.get(req_url)
        soup = BeautifulSoup(req.content, 'html.parser')
        table = soup.find('table', {'id':'totals_stats'})
        df = pd.read_html(str(table))[0]
        df['Year'] = year
        final_df = final_df.append(df)
    return final_df
url = 'https://www.basketball-reference.com/leagues/NBA_{}_totals.html'
df = scrape_stats(url, 2013, 2018)
df

Extraindo ano 2013
Extraindo ano 2014
Extraindo ano 2015
Extraindo ano 2016
Extraindo ano 2017
Extraindo ano 2018

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Quincy Acy,PF,22,TOR,29,0,342,42,75,...,30,47,77,11,13,15,17,53,116,2013
1,2,Jeff Adrien,PF,26,CHA,52,5,713,72,168,...,68,128,196,36,18,27,32,80,209,2013
2,3,Arron Afflalo,SF,27,ORL,64,64,2307,397,905,...,29,210,239,206,40,11,138,137,1057,2013
3,4,Josh Akognon,PG,26,DAL,3,0,9,2,4,...,0,1,1,1,0,0,0,3,5,2013
4,5,Cole Aldrich,C,24,TOT,45,0,388,44,80,...,30,90,120,9,5,23,23,60,100,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,537,Tyler Zeller,C,28,BRK,42,33,703,125,229,...,63,131,194,28,8,21,35,78,300,2018
686,537,Tyler Zeller,C,28,MIL,24,1,406,62,105,...,47,64,111,19,7,14,12,48,141,2018
687,538,Paul Zipser,SF,23,CHI,54,12,824,81,234,...,13,118,131,46,20,15,43,86,218,2018
688,539,Ante Žižić,C,21,CLE,32,2,214,49,67,...,24,36,60,5,2,13,11,30,119,2018
689,540,Ivica Zubac,C,20,LAL,43,0,410,61,122,...,45,78,123,25,8,15,26,47,161,2018